@use "../styles/colors";
@font-face {
    font-family: oswald;
    src: url(../fonts/oswald.ttf);
}
@font-face {
    font-family: roboto;
    src: url(../fonts/roboto.ttf);
}
* {
    margin:0;
    padding: 0;
    color: colors.$secondary-color;
    font-family: roboto;
}
body {
    background-color: colors.$background-color;
}
html{
    min-height: 100vh;
}
header{
    background-color: colors.$secondary-color;
    height: 80px;
    width: 100%;
}
button{
    text-align: center;
    background: transparent;
    border:0;
    cursor: pointer;
}
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    padding: 0 40px 0 40px;
}
.search-bar{
    margin-left: 100px;
    max-width: 300px;
}
.fa-solid.fa-magnifying-glass{
    color: colors.$main-color;
    font-size: 20px;
    width: 40px;
}
input[type='text']{
    height: 40px;
}
.fa-solid.fa-bars{
    color: colors.$main-color;
}
.panel{
    background-color: colors.$main-color;
}
.hidden{}